{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="grid lg:grid-cols-12 gap-3 p-4 h-full">
        <div class="lg:col-span-3 lg:order-1 h-full overflow-hidden">
            <div {{ vue_component('GroupList') }}></div>
        </div>
        <div class="lg:col-span-3 lg:order-3 h-full overflow-hidden">
            <div {{ vue_component('FollowingList') }}></div>
        </div>
        <div class="lg:col-span-6 lg:order-2 h-full overflow-hidden flex flex-col">
            <div {{ vue_component('CreatePost') }}></div>
            <div {{ vue_component('PostList') }} class="flex-1"></div>
        </div>
    </div>
{% endblock %}
